*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.kanban{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}
.column{
    width: 30%;
    background-color: #eee;
    border-radius: 10px;
    padding: 0.5rem;

}
.tasks{
    list-style: none;
    margin: 0;
    padding: 1rem;
    border: 2px dashed #ccc;
}
.tasks li{
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: move;/*altera a aparencia*/
}
.tasks li.dragging{
    opacity: 0.5;/*aplica a transparencia*/
}
.tasks li:hover {
    background-color: #f5f5f5; /*troca a cor de fundo com a passagem do mouse*/

}
h2{
    text-align: center;
}
/* altera a aparencia do formulario*/
#add-task-form{
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

#add-task-form input[type="text"]{
    padding: 0.3rem;
    margin-right: 0.3rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}
#add-task-form button[type="submit"]{
    padding: 0.3rem 1rem;
    background-color: rgb(0, 0, 0);
    color: rgb(249, 249, 249);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}